article.HomeInfo{
	text-align: center;
	background-color:none;
	padding:15px 30px;
	margin:25px auto;
	width:100%;
	overflow:auto;
	border: 0;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	}

	
.mainContent{
	background-color:white;
	margin:0px 5px;
	width:100%;
	max-width:1000px;
}
.CameraDiscription {
	margin: 200px;
	width: 75%;
	margin-top: 0;
	margin-left:40px;
	text-align: left;

	/*padding-left: 20px;*/

}


	
#news{
		background-color:#F8F8F8;
		margin-bottom:1em;
}


#contact{
		text-align:left;
		background-color:#F5F5F5;

}

#title{
		margin-top:2em;
		margin-left:3em;
		margin-bottom:0em;
		background-color:none;
}




p.left{
		text-align:left;
}
p.right{
		text-align:right;
}
h2.centering{
		text-align:center;
}


article{
	text-align: center;
	margin: 2rem 0; 
	padding: 2rem; 
	border: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


section{
	margin:0px 5px;
}

	
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px; /* keep this value in mind when we use 'rem' units */
	padding:1em;
	color: black;
	background-color: white;
}

h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
	font-size: 2.4rem; /* equal to 40px (16px * 2.5) */
	margin-bottom:0em;
    margin-top:0.6em;
	/*margin-bottom:0.2em;
	text-align: left;*/
}




/* Note that you use commas to style multiple things the same way */
p, ul, ol {
	font-size: 0.8em; /* make the size 12.8px (16px * 0.8) */
	
	/* Note that the max-width takes the font-size into account */
	max-width: 40em; /* maximum width is now 512px (12.8px * 40) */
	line-height: 1rem; /* line-height 16px (16px * 1em) */
}






img {/*styling image size and border*/

	/* 
		Then we tell it we don't want it to exceed 100% of the parent element 
		(we make it resize with the browser window) 
	*/
	max-width: 100%;

	/* 
		CSS allows for some shorthand, in this case, we are specifying:
		border: width type colour;
	*/
	border: 0; 
}

